html {
    font-family: 'Anonymous Pro', monospace;
    color: rgb(61,61,61)
}

/* Logo Styling Start */
.logomain {
    color: rgb(2, 189, 123);
}

.logosub {
    color: rgb(247, 59, 108);
}

/* Logo Styling End */